.display {
  /*border: 1px solid black;*/
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 80%;
}

.buttonBox {
    /*border: 1px solid red;*/
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;

    height: 50px;
}

 /*{
  border: 1px solid black;
  float: left;
  height: 10px;
  width: 10px;
  margin-right: 5px;

}*/

/*.personInfo {
  border: 1px solid black;
  float: left;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}*/

.selector {
  display: inline-block;
  border: 1px solid black;
  height: 25px;
  width: 25px;
  background-color: red;
}

button{
  display:inline-block;

}

.selected {
  display: inline-block;
  border: 1px solid black;
  height: 25px;
  width: 25px;
  background-color: black;

}
